# ==========================================
# 1. Server & Infra Configuration
# ==========================================
# Eureka
EUREKA_SERVER_URL=
EUREKA_HOSTNAME=

# Kafka (Docker Compose Service Name)
KAFKA_BOOTSTRAP_SERVERS=

# Redis
REDIS_HOST=
REDIS_PORT=

# Zipkin
ZIPKIN_BASE_URL=

# ==========================================
# 2. Database (PostgreSQL)
# ==========================================
# Application Connection
DB_URL=
DB_USERNAME=
DB_PASSWORD=

# Docker Container Init (docker-compose.yml에서 사용)
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# JPA Settings
JPA_DDL_AUTO=
JPA_SHOW_SQL=
LOG_LEVEL_DB=

# ==========================================
# 3. Object Storage (MinIO)
# ==========================================
# Application Connection
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Docker Container Init (docker-compose.yml에서 사용)
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Buckets
MINIO_BUCKET_UPLOAD=
MINIO_BUCKET_DOWNLOAD=

# ==========================================
# 4. CDN Settings
# ==========================================
# CDN 접속 주소 (외부에서 접근 가능한 주소)
CDN_EXTERNAL_URL=

# CDN 파일 저장 경로 (컨테이너 내부 경로)
CDN_LOCAL_PATH=

# [Monitoring - Grafana]
GRAFANA_ADMIN_USER=
GRAFANA_ADMIN_PASSWORD=