SERVER_IP=
CDN_URL=
RDS_ADDRESS=
USER_NAME=
PASSWORD=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Kafka
KAFKA_ADVERTISED_LISTENERS=

# Service URLs (내부 통신용)
KAFKA_URL=
EUREKA_URL=
